.alert.alert-danger.alert-block
  - errors_plural = Russian.p 100500, *t('forms.errors.errors_separate_you')
  %h4= t 'forms.errors.almost_complete', count: 5, errors: " бывает и так"
  %br/
  %ol
    - %w(мудрость и харизма).each do |message|
      %li= message

.well
  %form.form.form-horizontal
    .control-group
      %label.control-label Картинка
      .controls
        %input{type: "text", value: "Котэ"}
  
    .control-group.error
      %label.control-label Название
      .controls
        %input{type: "text", value: "Первый сет"}

    %hr/
    .control-group
      .controls
        %input.btn.btn-primary{type: "submit", value: "Зотверждаю"}
        %button.btn Беру слова обратно