.row
  %a.btn.btn-large.btn-primary.pull-right{href: "#"}= t('views.badge_sets.links.add_set')
%br/

%table.table.table-hover
  %thead
    %tr
      %th= t(:name, scope: 'activerecord.attributes.badge_set')

      %th &nbsp;

  %tbody
    - 10.times.each do |i|
      %tr
        %td= "Сет #{i}"
        %td