.contacts
  .row
    .span4
      %h2 Горбов Алексей
      %p
        Технический директор компании
        %a{href: 'http://www.apress.ru/vac_popup?id=625&city=4', target: 'new'} Абак-пресс

      %h2 Федоров Сергей
      %p
        Ведущий разработчик проекта
        %a{href: 'http://lookmart.ru/', target: 'new'}< LookMart.ru
        %br/
        компания Абак-пресс
      
    .span3.pull-right.abak-press
      %address
        %strong
          Абак-пресс
        %br/
        г. Екатеринбург<br>
        Хохрякова 55 / Радищева 23
        %br/
        %abbr{title: "Телефон"} т.
        +7 (922) 169-04-68

  %hr/

  .row
    .span4
      %h2 Могильников Алексей
      %p
        Руководитель разработки проекта QRGL