.jumbotron
  %h1= t 'jumbotron.hello', project_name: t('project_name')
  %p.lead= t 'jumbotron.lead'
  %a.btn.btn-large.btn-primary{href: "/archive/new"}= t 'jumbotron.button'

/ Этот блок служит спец заданием для ловких и быстрых
/ Если вы еще не выполнили все задания, просто игнорируйте данный кусок
-#%hr/
-#.row-fluid.marketing
  .span6
    %h4
      %a{href: "#"} Конференция №1
    %p
      Создано: 19 марта 2024
      %br/
      Всего участников: 15

    %h4 Конференция №2
    %p Всего участников: 25

    %h4 Конференция №3
    %p Всего участников: 2

  .span6
    %h4 Конференция №4
    %p Всего участников: 106

    %h4 Конференция №5
    %p Всего участников: 42

    %h4 Конференция №6
    %p Всего участников: 3