// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fffuuu {
  background: url('/assets/fffuuuu_face.jpg') 50% 0 no-repeat;

  padding-top: 430px;
  text-align: center;
}