/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/bootstrap.min
 *= require badges
 */

.badge-kh {
  float: left;
}

.page-brake {
display: none;
}

@media print {
  .well, .masthead,
  .action-buttons,
  .footer, hr {
    display: none !important;
  }
  
  .badge-kh {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .page-brake {
    display: block;
    page-break-after: always;
  }
}